node_modules
GatorFinder/Frontend/gatorfinder-frontend/package-lock.json
GatorFinder/Frontend/gatorfinder-frontend/package.json

.gitignore
GatorFinder/Frontend/gatorfinder-frontend/package-lock.json
